@media (max-width: 600px) {
    .input-container {
        flex-direction: column;
    }

    #new-task {
        border-radius: 5px 5px 0 0;
        height: auto;
    }

    #btn-task {
        border-radius: 0 0 5px 5px;
    }
}