body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Berkshire Swash', cursive;
    margin-bottom: 15px;
    color: #333;
}

.input-container {
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
}

#new-task {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#btn-task {
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 0px 5px 5px 0;
    cursor: pointer;
}


#btn-task:hover {
    background-color: #4cae4c;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}

button.delete-btn {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button.delete-btn:hover {
    background-color: #c9302c;
}

